#divContainer {
    border-style: solid;
    width: 90vh;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.row {
    display: flex;
    flex-grow: 1;
}
.square{
    display: flex;
    flex-grow: 1;
}