#divContainer {
    width: 960px;
    height: 960px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.row {
    display: flex;
    flex-grow: 1;
}
.square{
    display: flex;
    flex-grow: 1;
}